/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
img{
    width: 100%;
    
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

ul{
    text-align: center;
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 0 5px;
    font-size: 0.6em;
    color: #F6F6F6;
}

footer{
    display: flex;
    border: 1px solid white;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}

/* UTILITIES */
.vert-padding{
    padding: 20px 0;
}

.logo, .actions{
    width: 15%;
}

.actions{ 
    text-decoration: none;
    padding: 5px 8px;
    font-size: 0.55em;
    border-radius: 15px;
    text-align: center;
}

.flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.container{
    margin: 0 auto;
    width: 70%;
    max-width: 1280px;
}

/* CLASSES */
.login{
    background-color: #F6F6F6;
    color: black;
    padding: 5px 8px;
}

.whitebtn{
    background-color: #F6F6F6;
    color: black;
    font-size: 0.65em;
    padding: 10px 15px;
    margin-right: 5px;
}

.violetbtn{
    background-color: #8EA1E1;
    color: black;
    font-size: 0.65em;
    padding: 10px 15px;
    margin-right: 5px;
}

.blackbtn{
    background-color: #23272A;
    color: #F6F6F6;
    font-size: 0.65em;
    padding: 10px 15px;
    margin-left: 5px;
}

.navbar{
    flex-grow: 1;
}

.header-text{
    font-size: 0.75em;
    padding: 25px 15px 10px 15px;
}

.header-bottom-actions{
    padding: 10px 10px 65px 10px;
}

.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.jumbotron{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #ffffff;
}

.sect-paragraph{
    padding: 10px 0 0 0;
    font-size: 0.75em;
}

.sect-title{
    padding: 0 0 10px 0;
}

.bottom-sect-title{
    text-align: center;
    padding: 0 0 10px 0;
}

.bottom-sect-paragrap{
    text-align: center;
    padding: 10px 50px;
    font-size: 0.75em;
}

.bottom-quest{
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 9px;
    margin-bottom: 10px;
}

.main-sect1-3{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.main-sect2{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.main-sect4{
    background-color: #f4f4f4;
    display: flex;
}

.main-bottom-section{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px 0;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272A;
}

.main-row6{
    display: flex;
    justify-content: center;
}

.small-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.large.col{
    width: 60%;
}

.bottom-box1{
    margin: 15px 0;
    padding-right: 20px;
}

.itaflag{
    width: 10%;
}

.language-text{
    font-size: 0.7em;
    margin: 10px 5px;
    color: #ffffff;
}

.language-row{
    display: flex;
    align-items: center;
}

.bottom-h{
    color: #3161E0;
}

.bottom-box2{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 150px;
}

.bottom-btn{
    border: 1px dashed black;
    background-color: lightgrey;
}

.footer-princ-a{
    color: #3161E0;
    font-size: 0.6em;
    text-decoration: none;
    padding-bottom: 5px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    background-color: #23272A;
    padding: 20px;
    border-top: 1px solid #8EA1E1;
}

.footer-a{
    color: #ffffff;
    font-size: 0.6em;
    text-decoration: none;
    padding: 5px 0;
}

.footerbtn{
    background-color: #8EA1E1;
    color: black;
    font-size: 0.55em;
    padding: 5px 0;
}